body{
    background-color: rgb(42, 42, 42);
}
h1, h2, h3, p, button{
    font-family: Sixtyfour Convergence, Arial, Helvetica, sans-serif; 
    color: rgb(255, 104, 98);;
}
h1 {
    font-size: clamp(2rem, 5vw, 4rem);
}

h2 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

h3 {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

a{
    text-decoration:none
}
h3:hover{
    background-color: lawngreen;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
#options{
    outline:12px double rgb(255, 104, 98);
    border-radius: 2;
    padding: 20px;
    max-height: 80vw;
    
}
#reset-config{
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid rgb(255, 104, 98);
    color: rgb(255, 104, 98);
    height: 100%;
    margin-left: 10px;
}
#reset-config:hover{
    background-color: rgba(255, 103, 98, 0.355);
}
#info{
    line-height: 0;
}
#info a{
    text-decoration: underline;
}