:root{
    --c2: rgb(255, 104, 98);
    --tile-color: #272424;
    --reveal-color: #ddddddce;
}
*{
    color: var(--c2);
    font-family: Sixtyfour Convergence; 
    /* outline: 1px solid blue; */
}
body{
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
    padding: 5px;
}
body *{
    outline: 1px solid blu;
}
h1, h2, h3,p{
    font-family: Sixtyfour Convergence, Arial, Helvetica, sans-serif; 
}
input, select{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--c2);
    font-family: Sixtyfour Convergence, Arial, Helvetica, sans-serif; 
    border: 2px solid rgb(255, 104, 98);
    padding: 5px;
}
main{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#selection-items{
    outline: solid var(--c2) 1px;
    padding: 10px;
}
button{
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid var(--c2);
    color: var(--c2);
    margin-top: 20px;
    height: 100%;
    width: 100%;
    padding: 5px; 
}
button:hover{
    background-color: rgba(255, 103, 98, 0.11);
}